// font-family: 'Montserrat', sans-serif 0,400;0,500;1,400;1,500 ;
// font-family: 'Playfair Display', serif 0,700;1,400;

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.document-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  border: 1px solid #828282;
  margin: 0 auto;
  border-radius: 12px;
  padding: 2rem;

  @media (max-width: 25rem) {
    width: 100%;
    padding: 0;
  }
}
.content {
  transform: translateY(-15%);
  @media (max-width: 25rem) {
    transform: translateY(-2%);
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  overflow: hidden;

  & h1 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 63.98px;
    color: #000000;
    @media (max-width: 25rem) {
      font-size: 2.4rem;
      line-height: 32px;
      text-align: center;
    }
  }

  & h4 {
    position: relative;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17.07px;
    width: 65%;
    color: #4f4f4f;
    padding: 2rem 3rem 2rem 3rem;
    @media (max-width: 25rem) {
      font-size: 1.2rem;
      line-height: 15px;
      width: 80%;
    }
  }
  & img {
    width: 97rem;
    height: 47rem;
    border-radius: 12px;
    margin-top: 2rem;
    @media (max-width: 25rem) {
      width: 35rem;
      height: 21rem;
    }
  }
}
.header-text-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 5rem;
  @media (max-width: 25rem) {
    padding-left: 1rem;
  }
}
.dots {
  display: inline-block;
  padding-top: 2.5rem;
  transform: translateX(2rem);

  & span {
    display: inline-block;
    content: "";
    height: 0.3rem;
    width: 0.3rem;
    background-color: #c4c4c4;
    border-radius: 50%;
  }
  & span::before {
    display: inline-block;
    content: "";
    height: 0.3rem;
    width: 0.3rem;
    background-color: #c4c4c4;
    border-radius: 50%;
  }
}

.informations {
  transform: translateX(455%) translateY(104%);
  width: 21.6rem;
  height: 36.7rem;
  font-family: "Montserrat";
  box-shadow: -2px 9px 63px -12px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -2px 9px 63px -12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 9px 63px -12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;

  @media (max-width: 120rem) {
    transform: translateX(350%) translateY(120%);
  }
  @media (max-width: 60rem) {
    transform: translateX(170%) translateY(120%);
  }
  @media (max-width: 25rem) {
    transform: translateX(0%) translateY(30%);
    padding-top: 3rem;
    position: unset;
    width: 100%;
    height: 80%;
    box-shadow: none;
  }
}

.informations-container {
  width: 60%;
  margin: 0 auto;

  @media (max-width: 25rem) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &--element:first-child {
    grid-column: 1/4;
    color: #f2994a !important;
  }
  &--element:not(:last-child) {
    padding-bottom: 4rem;
  }

  &--element:last-child {
    @media (max-width: 25rem) {
      padding-bottom: 4rem;
    }
  }

  &--element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;

    &__svg {
      width: 2.5rem;
      height: 2.5rem;
      align-self: center;
      justify-self: flex-start;
      padding-right: 1rem;
    }

    &__text h5 {
      color: #bdbdbd;
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 12.19px;
      margin-bottom: 0.5rem;
    }
    &__text p {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 17px;
    }
  }
}
.ingredients-container {
  color: #333333;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;

  @media (max-width: 120rem) {
    width: 90%;
  }
  @media (max-width: 60rem) {
    width: 90%;
  }
  @media (max-width: 25rem) {
    padding-top: 0rem;
    width: 100%;
  }

  & h2 {
    font-family: "Playfair Display";
    font-size: 2.4rem;
    line-height: 32px;
    font-weight: 700;
    padding: 3rem 2rem 3rem 2rem;
  }
}

.ingredients {
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 400;
  @media (max-width: 25rem) {
    font-size: 1.2rem;
    line-height: 20px;
  }

  & li {
    display: flex;
    padding: 1rem;
  }
}
.instructions-check {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  border-radius: 3px;
  border: 0.05rem solid #828282;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
}
.instructions-button {
  padding-right: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
}
.instructions-button + .instructions-check {
  margin-top: 1rem;
}
.instructions-check::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 1px;
  transform: scale(0);
  transition: 0.5s transform ease-in-out;
  box-shadow: inset 1rem 1rem #828282;
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.instructions-check:checked::before {
  transform: scale(1.5);
}

.instructions-container {
  color: #333333;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;

  @media (max-width: 25rem) {
    padding-top: 0rem;
  }

  & p {
    padding: 5rem 0rem 8rem 3rem;
    color: #bdbdbd;
    font-size: 1.6rem;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    @media (max-width: 25rem) {
      font-size: 1.2rem;
    }

    & a {
      color: #bdbdbd;
      text-decoration: none;
    }
  }

  & h2 {
    font-family: "Playfair Display";
    font-size: 2.4rem;
    line-height: 32px;
    font-weight: 700;
    padding: 3rem 2rem 3rem 2rem;
  }
}
.instructions {
  counter-reset: section;
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 25px;
  font-weight: 400;
  list-style: none;

  &-element {
    counter-increment: section;
    display: flex;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    padding: 2rem;
  }

  &-element::before {
    display: flex;
    font-family: "Playfair Display";
    font-size: 2.2rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    content: counter(section);
    display: block;
    height: 50%;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    border-radius: 6px;
    background-color: #f2994a;
    color: #fff;
    margin-right: 1rem;
  }
}
.footer {
  padding: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.4rem;
  color: #828282;
}

.footer a {
  font-weight: 500;
  font-size: 1.4rem;
  color: inherit;
}
